*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 100%;
  margin: 0 auto;
  max-width: 1450px;
  font-family: vazir, !important;

}


body{
background-color: #181818;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(225,853,416)'%3E%3Cstop offset='0' stop-color='%23181818'/%3E%3Cstop offset='1' stop-color='%23090B06'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='428' height='356.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.08'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
 background-attachment: fixed;
background-size: cover;
}

header a{
  text-decoration: none;
  color: #f1f1f1;
  font-size: 25px;
}
header .h-brand{
  color: rgb(216, 215, 198);
}
header a:hover{
  color: rgba(255, 255, 255, 0.726);
}


.box-welcome{
  width: 90%;
  direction: rtl;
  background-color: rgba(34, 31, 31, 0.76);
  border-radius: 20px;
}

.item-header a{
  padding: 20px;
}

.box-welcome .welcome-text p{
 
  text-align: justify;
  color: #f1f1f1;
}
.welcome-button {
  text-align: center;
  padding: 20px 0;

}

.welcome-button button{
  padding: 10px 30px;

}

.display{
  padding: 50px 0;
}
.box2-cars{
  background-color: rgba(65, 53, 53, 0.342);
  border-radius: 15px;
  direction: rtl;
}

.box2-cars a{
  text-decoration-line: none;
  color: rgb(195, 196, 195);
}

.box2-cars a:hover{
  color: rgb(240, 255, 240);
}
.box2-cars img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  transition: all ease .5s;
}
.box2-cars img:hover{
  transform: scale(1.1); 
}
.box2-cars h2{
  
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.box2-cars p{
  color: rgb(160, 155, 155);
  direction: rtl;
  font-size: 26px;
  line-height: 47px;
  letter-spacing: -0.004em;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
  padding: 10px;

  
}


/* .box-like{
  direction: rtl;} */

.machin-top{
 
  margin-bottom: 20px;
  color: #f1f1f1;
  
}
.item-top{
  background-color: rgba(214, 143, 143, 0.185);
  border-radius: 10px;
}

.img-like{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

 .img-like img{
  width: 90%;
  border-radius: 5px;
  height: 135px;
  object-fit: cover;
}

.box-like h3{
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: 0.06em;
  font-weight: 300;
}
.box-like a{
  text-decoration-line: none;
  color: #f1f1f1;
}

.item-top a:hover{
  color: #927474;
}


.item-top2{
  background-color: rgba(60, 94, 81, 0.37);
  border-radius: 10px;
}

.item-top2 a{
  text-decoration-line: none;
  color: #ffffff;
}

.item-top2 a:hover{
  color: #919191;
}

.box-like h2{
  color: rgb(166, 172, 166);
  margin: 30px 0;
}
/*footer*/
.footer{
  height: 250px;
  background-color: rgba(31, 31, 37, 0.664);
}
.icon-footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.insta-footer{
  margin-top: 3%;
  height: 80px;
  width: 80px;
  background-color: #8a0e4a6b;
  border-radius: 40%;
}
.insta-footer:hover{
  background-color: #FF0075;
  filter: drop-shadow(1px 1px 30px   #FF0075) ;
}
.telegram-footer{
  margin-left: 5%;
  margin-top: 3.3%;
  height: 80px;
  width: 80px;
  background-color: #5a439e96;
  border-radius: 40%;
}
.telegram-footer img{
  width: 60px;
  height: 60px;
  padding:10px 0 0 10px;
  
}

.telegram-footer:hover{
  background-color: #6431ff;
  filter: drop-shadow(1px 1px 30px   #5c26ff) ;
  
}
.whatsapp-footer{
  margin-top: 3%;
  margin-left: 5%;
  height: 80px;
  width: 80px;
  background-color: #1eae987c;
  border-radius: 40%;
}

.whatsapp-footer:hover{
  background-color: #1EAE98;
  filter: drop-shadow(1px 1px 30px   #1EAE98) ;
  
}
.about-footer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-size: 20px;
}
.about-footer a{
text-decoration-line: none;
color: rgb(224, 208, 208);
}
/*login*/
 .back-log-body{
   margin: 0;
   padding: 0;
   background-image: url(img/backlog.jpg);
   background-position: 100%;
   background-repeat: no-repeat;
   background-size: cover;
  
 }
.box-login{
  width: 300px;
  border: 2px solid rgb(36, 41, 41);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50% );
  background-color: #191919;
  padding: 40px;
  text-align: center;
}
.box-login h1{color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.box-login input[type = "text"],.box-login input[type = "password"]{
  background: none;
  text-align: center;
  display: block;
  margin: 24px auto;
  border: 2px solid #3498db;
  border-radius: 20px;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  transition: .25s;
}
.box-login input[type = "text"]:focus,.box-login input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
  
}
.box-login input[type = "submit"]{
  background: none;
  text-align: center;
  display: block;
  margin: 24px auto;
  border: 2px solid #3498db;
  border-radius: 20px;
  padding: 14px 10px;
  outline: none;
  color: white;
  transition: .25s;
  cursor: pointer;
}
.box-login input[type = "submit"]:hover{ 
  background-color: #2ecc71;
}
/*about*/
.body-about{
height: 900px;
background-color: #1E0A33;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='522' height='522' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23330044' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233E0A55'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

}

.body-about h1{
  color: #c4b367;
}

.img-about img{
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}


.body-about h3 {
  line-height: 60px;
}

.insta1-footer{

  height: 80px;
  width: 80px;
  background-color: #8a0e4a6b;
  border-radius: 40%;
}
.insta1-footer:hover{
  background-color: #FF0075;
  filter: drop-shadow(1px 1px 30px   #FF0075) ;
}
.telegram1-footer{
 
  height: 80px;
  width: 80px;
  background-color: #5a439e96;
  border-radius: 40%;
}
.telegram1-footer img{
  width: 60px;
  height: 60px;
  padding:10px 0 0 10px;
  
}

.telegram1-footer:hover{
  background-color: #6431ff;
  filter: drop-shadow(1px 1px 30px   #5c26ff) ;
  
}
.whatsapp1-footer{

  height: 80px;
  width: 80px;
  background-color: #1eae987c;
  border-radius: 40%;
}

.whatsapp1-footer:hover{
  background-color: #1EAE98;
  filter: drop-shadow(1px 1px 30px   #1EAE98) ;
  
}






.box-compani{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item{
  margin: 2%;
  width: 380px;
  height: 150px;
  border: white 1px solid;
  display: flex;
  flex-direction: row;
  
}
.logo-car{
  width: 50%;
  text-align: center;
  padding-top: 10%;
  color: rgb(182, 172, 172);
  word-spacing: 4px;

}
.cc{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  background-color: #0084ff;
  border-radius: 50%;
  margin: auto ;
}